*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid rgb(0, 27, 201); */
}

.wrapper{
   width: 100vw;
   position: relative;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
   
    
}
.CONTAIN-LEFT
{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  position: relative;
}
.CONTAIN-RIGHT{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  /* outline: 1PX SOLID red; */
  /* justify-content: space-around; */
}
#gnav{
    height: 9vh;
    border-right: .5px solid rgba(0, 0, 0, 0.081);
    grid-area: gnaV;
    background-color: rgb(240, 240, 240);

}
#cnav{
   
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 9VH;

}
#Genrel{
   grid-area: left; 
   /* height:100vh; */
   position: relative;
   flex-direction: grid;
   grid-template-rows: repeat(10,1rem);
   overflow-y:scroll ;
   /* border: 1px solid rgb(22, 21, 21); */
    background-color: rgb(38, 21, 21);
}
#SEARCH{
    grid-area: Search;
    border-bottom: 0.5px solid rgba(27, 26, 26, 0.158);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
}
#Chat{
    grid-area: right;
    /* transform: translateZ(-50px); */
    /* background-image: url(); */
    object-fit: contain;
    background-image: url(whatassap.jpg);
    /* height: 100vh; */
    /* border: 1px solid red; */
    background-color: beige;
    /* overflow-y: scroll; */
    /* overflow-y: hidden; */
    /* object-fit: cover; */
    /* background-size: 100%; */
    height: 82vh;
}
/* .chat-background{
  height: 7vh;
  width: 100%;
  object-fit: contain;
} */
#ctype{
 
  height: 9VH;
  /* outline: 2PX SOLID blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
    grid-area: ctypE;
    background-color: rgb(240, 240, 240);
}
.input-icons i {
    position: absolute;

}

  
.input-icons {
  /* outline: 1px solid red; */
    width:95%;
    height: 8vh;
    margin-left: 16px;

    /* margin-bottom: 10px; */
    /* padding-left: 10px; */
    
}

.icon1 {
  padding-top: 17px;
  padding-left: 5px;
  /* font-size: 30px; */
  min-width: 40px;
}

.input-field {
  border: none;
  outline: none;
    /* text-align: right; */
    background-color: rgba(240, 240, 240, 0.863);
    border: none;
    height: 3rem;
    /* outline: 1px solid red; */
    width: 95%;
    margin-top:4px;
    border-radius: 10px;
    font-size: 16px;
    
    text-align: left;
    padding-left: 50px;
    font-family:  Helvetica ;


}
.general-nav-content{
    /* outline: 1px solid red; */

    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.left-icons{
    /* size: 5rem; */
    /* outline: 1px solid red; */
    width:55%;
    height: 9vh;
    /* gap: 2.2rem; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-right: 2rem; */
}
.icoN
{
   /* outline: 1px solid red; */
    border-radius: 300px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    height: 2.9rem;
    width: 2.9rem;
    background-color: white;
    margin-left: 16px;
   
}
.icon-image{
    /* outline: 1px solid red; */
    object-fit:contain;
    width: 2.9rem;
    border-radius: 300px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    height:2.9rem;
    /* padding-left: 20px; */
}
.general-search{
    /* border: 1px solid red; */
    height: 9vh;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-evenly;
}
.general-chat{
    
    height: 5rem;
    background-color: rgb(255, 255, 255);
}
.general-chat:hover{
    cursor: pointer;
    background-color: #f6f6f6;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e6e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
      /* border-radius: 10px; */
    background: #c1c1c1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .general-chat{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    position: relative;
    overflow-x: hidden;

    
  }
  .material-symbols-outlined{
    cursor: pointer;
  }
  .filter{
    padding-right: 10px;
  }


  .chat-dp{
    /* object-fit:contain; */
    
    
    height:4rem;
    /* width:4rem; */
    /* outline: 1px solid red; */
    padding-left: 13px;

    display: flex;
    margin:auto 0 ;
    /* align-items: center; */
    padding-top:6px ;
    
  }
  .chat-icon{
    object-fit:contain;
    width: 3.2rem;
    border-radius: 300px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    height:3.2rem;
    /* outline: 1px solid red; */
  }
  .chat-content{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* padding-top: 10px; */
    align-items: center;
    gap: px;
    flex-grow: 1;
    padding-left: 16px;
    /* outline: 1px solid red; */
    border-bottom: .5px solid rgba(179, 179, 179, 0.266);

  }
  .general-chat:hover .expand-icon{
    transform: translateX(-20%);
    transition: ease-in-out 50ms;

  }
  .general-chat:hover .expand-icon1{
    transform: translateX(0%);
    transition: ease-in-out 50ms;

  }
  .expand-icon{
    /* outline: 1px solid red; */
    /* text-align: center; */
    position: absolute;
    display: flex;
    right: 0;
    z-index: 2;
    transform: translateX(100%);
    margin-top: 16px;
    padding-top: 5px;
    transition: ease-in-out 50ms;
    /* width: 4rem; */
    justify-content: space-around;

   }
  .expand-icon1{
    /* outline: 1px solid red; */
    /* text-align: center; */
    position: absolute;
    display: flex;
    right: 0;
    z-index: 2;
    transform: translateX(50%);
    margin-top: 16px;
    padding-top: 5px;
    transition: ease-in-out 50ms;
    width: 4rem;
    justify-content: space-around;

   }

  .chat-name{
    height: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h3{
    font-weight: normal;
    color: #525252;
    font-family:  Helvetica ;
    font-size: 1.12rem;
  }
  p{
    /* padding-left: 5px; */

    font-family:  Helvetica ;
    color: #5a5959db;
    font-size:smaller ;
    font-size: 14.3px;
    /* outline: 1px solid red; */
  }
  span{
    font-family:  Helvetica ;
    color: #5a5959db;
    font-size:smaller ;
    font-size: 15px;
  }
 .sent-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 .span2{
    font-size: 14px;
 }
 #name-of-chat{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    height: 8vh;
    /* background-color: yellow; */
    text-align: left;
    padding-left: .9rem;
 }
 .chat-nav-content{
   text-align: center;
   width: 4rem; 
   color: #7e7e7e;
 }
 #right-dp{
    background-color: rgb(255, 255, 255);
    object-fit:contain;
    width: 2.9rem;
    border-radius: 300px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    height:2.9rem;
    margin-left: 1rem;
    /* outline: 1px solid red; */
    
 }
 #right-search{
  padding-left:2px;
  background-color: rgba(240, 240, 240, 0.836);
}
 #blue-tick{
  color: rgb(95, 146, 250);
  font-weight: 300;
 }
 .emoji,.plus,.mic{
  width: 2rem;
  /* padding-left: 20px;
  padding-top: 3.5px; */
  /* padding-bottom: 3px; */
 }
 .plus{
  /* padding-left: 5px; */
  color: black;
 }
 #plus{
  font-weight: 500;
  color: rgb(71, 71, 71);
 }
 #emoji{
  font-weight: 300;
  font-size: 28px;
  color: rgb(71, 71, 71);
 }
 .emoji{
  width: 3rem;
  padding-left: 20px;
 }
 #type-field
{   background-color: rgba(240, 240, 240, 0.836);
  margin-right: 2rem;
  /* width: 10vw */
  flex:.9;
}
#type-inputbar{
  background-color: rgb(255, 255, 255);

  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;

}
.mic{
  margin-right: 2rem;
  font-weight: 900;

}
#sent-tick{
  font-weight: 250;
}
.span3{
  padding-left: 3px;
  color: #5a5959db;
    font-size:smaller ;
    /* font-size: 15px; */
}
 /* .material-symbols-outlined
 {
  color: rgb(0, 0, 0);
 } */
 .clicked {
  background-color: rgba(237, 237, 237, 0.999);
  /* Add other clicked styles */
}

/* Define the hover effect */
.clicked:hover {
  background-color: rgba(237, 237, 237, 0.999); /* Adjust as needed */
  /* Add other hover styles */
}



#main-dp{
  cursor: pointer;
  /* outline: 1px solid red; */
}

#ACCOUNT-DP{
  background-color: rgb(242, 242, 242);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:2;
  transform: translateX(-100%);
  transition: ease-in-out 200ms;
  
  /* opacity: 0; */
}
/* .ACCOUNT-DP:hover{
  transform: translateX(0%);
  transition: ease-in-out 200ms;
  opacity: 1;
} */
.GREEN-TAG{
  margin-bottom: 0;
  height: 17VH;
  background-color: #1b796e;
  display: flex;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
  /* justify-content:last baseline; */

}
.GREEN-TAG div{
  display: flex;
  text-align: center;
  align-self: flex-end;
  gap: 25px;
  margin-bottom: 1REM;
  margin-left: 1.5rem;
  font-size: 1rem;
  /* outline: 1px solid red; */
  transform: translateX(-50%);
  opacity: 0;
}
#left-arrow{
  color: white;
  font-size: 2rem;
}
.GREEN-TAG div h3{
  /* outline: 1px solid red/; */
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  padding-top: 4px;
}

.IMAGE-TAG{
  height: 40vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.NAME-TAG{
  height: 13vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-left: 1.5rem; */
  font-family: Arial, Helvetica, sans-serif;
}
.NAME-TAG p{
  color: rgb(122, 141, 122);
}
.name-contnet{
  /* outline: 1px solid red; */
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.view-dp{
  /* outline: 1px solid red; */
  /* outline: 1px solid red; */
  position: relative;
  height:78%;
 width:auto;
 border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
transition: ease-in-out 200ms;

}
.view-dp:hover .hoverr{
    cursor: pointer;
    opacity: 1;
  }
  .hoverr{
    /* outline: 1px solid red; */
    /* filter: blur(2px); */
  position: absolute;
  height:100%;
 width: 100%;
 z-index: 2;
 background-color: rgba(104, 103, 103, 0.713);
 border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
transition: ease-in-out 200ms;

opacity: 0;
gap: 5px;
/* object-fit: cover; */
}
.hoverr h3{
  
color: rgba(255, 255, 255, 0.838);
font-size: small;
transition: ease-in-out 200ms;

}
.view-dp img{
  object-fit: contain;
  /* outline: 1px solid red; */
  height:100%;
 width: 100%;
 border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
transform: scale(0);
/* transition: ease-out 400ms; */

}
.view-dp:hover img{
  transform: scale(1);
}
.between-name-about{
  height: 13vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

}
.between-name-about P{
  /* outline: 1PX SOLID RED; */
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
 font-size: .99rem;
 line-height: 1.5rem;
}
.ABOUT
{
  height: 13vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}
.ABOUT p{
  /* outline:1px solid red ; */
  color: rgb(122, 141, 122); 
   width: 85%;
  margin: 0 auto;
}

.NAME-TAG p{

  /* outline:1px solid red ; */
  width: 85%;
  margin: 0 auto;
}
#all{
  /* outline: 2px solid yellow; */
  transform: translateY(-30%);
  opacity: 0;
}
#menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 3;
  right: 0;
  bottom: 0;
  height: 70%;
  width: 70%;
  transform: translateX(50%) translateY(30%);
  border-radius: 5px;
}
#menu  ul{
  height: 100%;
  width: 90%;
  margin: 0 auto;
  font-size: large;
  font-weight:50px;
  color: rgb(107, 107, 107);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  list-style-type: none;
}
#menu  ul li:hover{
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}
#view-photo{
  z-index: -3;
  position: absolute;
  /* outline: 1px solid red; */
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.top-bar{
  width: 95%;
  margin: 0 auto;
  /* outline: 1px solid red; */
  /* background-color: rgb(243, 243, 243); */
  display: flex;
  justify-content: space-between;
  height: 9vh;
  align-items:center ;
  color: #4a4a4a;
}
.top-bar h2{
  padding-top:16px ;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  /* outline: 1px solid red; */
}

.Left{
  gap: 15px;
  display: flex;
}
.photo-section{
  width: 40%;
  margin: 0 auto;
  /* outline: 1px solid red; */
  flex: 1;
  height: 100%;
  text-align: center;
  
  /* transform: scale(0.32); */
}
.photo-section-image{
  height: 98%;
  width: 100%;
  /* transform: scale(1); */
  
  /* z-index: 1; */
}








